POSTGRES_PASSWORD=change-me
ADMIN_REVIEW_TOKEN=generate-a-long-random-token
RECENT_DEATHS_INGEST_TOKEN=generate-a-different-long-random-token
ADMIN_USERNAME=admin
ADMIN_PASSWORD=use-a-passphrase-of-at-least-16-characters
